{{#if inEditMode }}
  <form class="model-creator-form" {{action "createNewModel" title modelType parentModelType parentId on="submit" }}>
    {{input value=title placeholder=placeholder autofocus="true" focus-out="closeForm" escape-press="closeForm"}}
    <div class="row">
        {{input type='submit' value='Save' }}
        <span {{action 'closeForm' }} >cancel</span>
    </div>
  </form>
{{else}}
  <p {{action 'openForm' }} >{{yield}}</p>
{{/if}}
