<h2>{{model.title}}</h2>
<div class="row">
    <div class="lists">
      {{#each item in model.lists}}
          <div class="list">
            {{partial "partials/list-inline-model-editor"}}
            <div class="list__cards">
                {{#each card in item.cards}}
                  {{list-card card=card}}
                {{/each}}
                {{partial "partials/card-inline-model-creator"}}
            </div>
          </div>
      {{/each}}
      <div class="list create-list">
        {{partial "partials/list-inline-model-creator"}}
      </div>
    </div>
</div>
{{outlet}}
