<h2>{{model.title}}</h2>
{{partial "partials/list-inline-model-creator"}}
<div class="row">
    {{#each item in model.lists}}
      <div class="lists">
          <div class="list">
            {{#inline-model-editor
              action="updateModel"
              placeholder='Enter new list title'
              modelItem=item
            }}
              <h3>{{item.title}}</h3>
            {{/inline-model-editor}}
            <div class="list__cards">
                {{#each card in item.cards}}
                  {{list-card card=card}}
                {{/each}}
                {{partial "partials/card-inline-model-creator"}}
            </div>
          </div>
      </div>
    {{/each}}
</div>
{{outlet}}
